<div class="list-group flights">
	<% @search.sub_searches.each_with_index do |sub_search, idx| %>
	<div class="panel panel-default">
		
		<div class="panel-heading">
			From <strong><%= sub_search.start.strftime("%b %d, %Y (%a)") %></strong>
			to <strong><%= sub_search.end.strftime("%b %d, %Y (%a)") %></strong>, 
			<strong><%= (sub_search.end.to_date - sub_search.start.to_date).to_i %> Days</strong>

			<div class="pull-right">
				<strong>(Direct: <%= number_to_currency sub_search.min_direct_price, precision: 0 %> - <%= number_to_currency sub_search.max_direct_price, precision: 0 %>)</strong>
				<strong>(<%= number_to_currency sub_search.min_price, precision: 0 %> - <%= number_to_currency sub_search.max_price, precision: 0 %>) <%= @currency %></strong>
			</div>
		</div>
		<div class="panel-body">
			<% sub_search.flights.each do |flight| %>
			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<strong>
			  			<%= flight.timelines.first.airline %>, 
			  			<% if flight.num_layovers > 0 %>
			  			<%= flight.num_layovers %> Stop(s)
			  			<% else %>
			  			Direct
			  			<% end %>
			  		</strong>
			  		<div class="pull-right">
			  			<strong><%= number_to_currency flight.price, precision: 0 %> <%= flight.currency %></strong>
			  		</div>
			  	</div>
			  	<div class="panel-body">
			  		<div class="list-group">
			  			<% flight.timelines.each do |timeline| %>
			  			<a class="list-group-item flight">
			  				<div class="row">
			  					<div class="col-md-2">
			  						<% if timeline.layover %>
			  						<strong>Layover</strong>
			  						<% else %>
			  						<strong><%= timeline.airline %></strong>
			  						<% end %>
			  					</div>
			  					<div class="col-md-4">
			  						<div><strong>Start:</strong> <%= timeline.start.strftime("%b %d, %Y (%a) %H:%M") %></div>
			  						<div><strong>End:</strong> <%= timeline.end.strftime("%b %d, %Y (%a) %H:%M") %></div>
			  					</div>
			  					<div class="col-md-6">
			  						<div><strong>Departure:</strong> <%= timeline.departure %></div>
			  						<div><strong>Arrival:</strong> <%= timeline.arrival %></div>
			  					</div>
			  				</div>
			  			</a>
			  			<% end %>
			  		</div>
			  	</div>
			  </div>
			<% end %>
		  </div>
	
	</div>
		<% end %>
</div>