<%= form_for @search, html: { role: "form", class: "form-horizontal" } do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.datepicker :start, class:"datepicker", dateFormat: "yy-mm-dd" %>
  </div>

  <div class="form-group">
    <%= f.label :end %>
    <%= f.datepicker :end, class:"datepicker", dateFormat: "yy-mm-dd" %>
  </div>

  <div class="form-group">
    <%= f.label :min %>
    <%= f.text_field :min%>
  </div>

  <div class="form-group">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>

  <div class="form-group">
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div class="form-group">
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  
<% end %>