<div class="row top-buffer">
  
  <%= render partial: "shared/sidebar" %>
  
  <div class="col-md-9 list-group searches">
    <% @searches.each do |search| %>
    <%= link_to search, class: "list-group-item" do %>
    <div class="row search">
      <div class="col-md-3">
        <div><strong><%= search.title %></strong></div>
        <div><strong>Start:</strong> <%= search.start.strftime("%b %d, %Y") %></div>
      </div>
      <div class="col-md-2">
        <div><strong>Min:</strong> <%= search.min %> Days</div>
        <div><strong>Max:</strong> <%= search.max %> Days</div>
      </div>
      <div class="col-md-7">
        <div><strong>Source:</strong> <%= search.source %></div>
        <div><strong>Destination:</strong> <%= search.destination %></div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>