<div class="list-group search-top">
	<a class="list-group-item active">
		<div class="row">
       <div class="col-md-3">
         <h3><strong><%= @search.title %></strong></h3>
       </div>
    </div>
		<div class="row">
			<div class="col-md-3">
				<div><strong>Start:</strong> <%= @search.start.strftime("%b %d, %Y") %></div>
				<div><strong>End:</strong> <%= @search.end.strftime("%b %d, %Y") %></div>
			</div>
			<div class="col-md-2">
				<div><strong>Min:</strong> <%= @search.min %> Days</div>
				<div><strong>Max:</strong> <%= @search.max %> Days</div>
			</div>
			<div class="col-md-7">
				<div><strong>Source:</strong> <%= @search.source %></div>
				<div><strong>Destination:</strong> <%= @search.destination %></div>
			</div>
		</div>
	</a>
</div>

<div class="row start-btn">
	<%= form_for @search, url: start_search_path(@search), method: :post do %>

	  <button type="submit" class="btn btn-success pull-right">Run</button>
	<% end %>
</div>

<%= @results %>
<%= render 'flights' %>
